/*
 * @file
 * Provides default front-end layout of infocard
 */
.infocard {
  color: black;
  font-weight: bold;
}
.infocard__hint {
  cursor: pointer;
}

.infocard__hint::after {
  display: inline-block;
  padding: 0.33rem;
  text-transform: none;
  content: "▼";
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}
.infocard[aria-expanded="true"] {
  .infocard__hint::after {
    transform: rotate(180deg);
  }
}
.infocard__content {
  margin: 0.625em 0;
  padding: 4rem;
  color: #000;
  background: #F5F5F5;
  font-size: 1rem;
  font-weight: normal;
}
