.ckeditor5-toolbar-button-infocard {
  background-image: url(../icons/infoCard.svg);
}
.ck-content span {
  text-decoration: underline dotted green;
  text-decoration-thickness: 0.2rem;
  color: green;
}
